<div class="grid p-fluid">
    <div class="field col-12 md:col-3">
        <label for="rotationX">Rotation X speed</label>
        <p-inputNumber inputId="rotationX" [(ngModel)]="rotationSpeedX" mode="decimal"></p-inputNumber>
    </div>
    <div class="field col-12 md:col-3">
        <label for="rotationY">Rotation Y speed</label>
        <p-inputNumber inputId="rotationY" [(ngModel)]="rotationSpeedY" mode="decimal"></p-inputNumber>
    </div>
</div>
<br>
<canvas #canvas id="cube-canvas" id="robot-canvas" width="1000px" height="800px"></canvas>
